<aside class="menu">
  <p class="menu-label">
    Gerenciamento do Evento
  </p>
  <ul class="menu-list">
    <li><%= link_to_in_li "Visão Geral", producer_admin_event_path(@event) %></li>
    <li><%= link_to_in_li "Ingressos", producer_admin_event_offers_path(@event) %></li>
    <li><%= link_to_in_li "Check-in", check_in_path(@event) %></li>
  </ul>
</aside>