<aside class="menu">
  <p class="menu-label">
    Administração
  </p>
  <ul class="menu-list">
    <li> <%= link_to_in_li "Dashboard", backoffice_path %></li>
  </ul>
  <p class="menu-label">
    Empresas
  </p>
  <ul class="menu-list">
    <li><%= link_to_in_li "Criar Empresa", new_company_path %></li>
  </ul>
  <p class="menu-label">
    Backend
  </p>
  <ul class="menu-list">
    <li><a>Administrate</a></li>
    <li><a>Sidekiq</a></li>
    <li><a>Mascarade</a></li>
  </ul>
</aside>