<%= javascript_pack_tag "orders/index" %>
<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section painel orders-index">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-3">        
        <%= render partial: 'users/registrations/menu' %>
      </div>

      <div class="column is-6">
        <% if current_user.orders.present? %>
          <%= render partial: 'orders/index' %>
        <% else %>
          <%= render partial: 'orders/no_orders' %>
        <% end %>
      </div>
    </div>
  </div>
</section>