<section class="section hero-home">
  <div class="container hero-content-home">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered">
        <h1 class="title has-text-white is-size-1">Ba Dum Tss!<span class="is-size-5">  (̿▀̿‿ ̿▀̿ ̿)</span></h1>
      </div>
    </div>
  </div>
</section>


<section class="section teste">
  <div class="container">
    <% if current_user.admin? %>
      <p>Admins conseguem ver</p>
    <% end %>
    <p>Users conseguem ver</p>
    <p>Produtores Admins conseguem ver</p>
    <p>Produtores Staffs conseguem ver</p>
    <p>Guests conseguem ver</p>
  </div>
</section>