<% provide(:title, "Manutenção") %>
<% content_for :navbar do %>
&nbsp;
<% end %>
<% content_for :footer do %>
&nbsp;
<% end %>

<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <%= link_to image_tag(asset_pack_path("media/assets/images/logo.svg"), alt:'PartiuIngresso.com', width:'140', class:'logo'), root_path %>
      <h1 class="title">
        Manutenção
      </h1>
      <h2 class="subtitle">
        Voltamos em breve
      </h2>
    </div>
  </div>
</section>