<section class="section terms">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <p class="title is-size-3 has-text-centered">Política de Privacidade</p>
        <p class="subtitle is-uppercase is-size-6 has-text-grey has-text-centered">Atualizada em 22 de Fevereiro de 2019</p>
        <div class="content">
          <p>A Partiu Ingresso leva a sério a sua privacidade.</p>
          <p>Quando você usa os serviços da nossa Plataforma, incluindo o site e os aplicativos interativos, está entregando suas informações para que possamos proporcionar a você:</p>
          <ul>
            <li>
              Organizador: a publicação e gestão de seus eventos;
            </li>
            <li>
              Comprador: fazer inscrições, ou mesmo descobrir os eventos que estão rolando!
            </li>
          </ul>
          <p>Temos plena ciência da nossa responsabilidade de proteger essas informações e trabalhamos muito para isso.</p>
          <p class="is-uppercase">Mas para que serve esta política de privacidade?</p>
          <p>Prezamos pela transparência dos serviços que ofertamos, então essa política mostra de forma simples, rápida e estruturada como obtemos e utilizamos as informações que você nos fornece ao usar nossa Plataforma.</p>
          <p class="is-uppercase">Porque minhas informações são obtidas e como são utilizadas?</p>
          <p>É possível usar nossos serviços de formas diferentes. Você pode, por exemplo, como um Organizador, criar e gerenciar o conteúdo de seus eventos, com detalhes, imagens e acompanhar os resultados mais relevantes. É possível também usar os serviços para fazer compras, tanto fazendo acessando sua conta através de login ou mesmo sem criar uma conta. Outro exemplo é a opção de navegar na Partiu Ingresso apenas para conferir as opções de evento disponíveis! <br />
          Durante a utilização destes serviços, em alguns momentos poderão ser coletados dados pessoais, como quando você cria sua conta ou se inscreve em um evento. Podem também ser coletados dados não pessoais, quando você acessar e navegar no conteúdo da nossa Plataforma. Para cada uma dessas informações coletadas, existe um nível de proteção adequado que adotamos, assim como diferentes tipos de utilização. E você pode ficar tranquilo, pois exceto nas situações previstas nesta política, nós não transferimos a terceiros os seus dados pessoais, e de forma alguma realizamos a venda deles.</p>
          <p class="is-uppercase">É possível saber maiores detalhes?</p>
          <p>Para explicar tudo da forma mais clara o possível, logo abaixo você encontrará todos os detalhes desta política! 
          Caso ainda reste qualquer dúvida, não hesite em entrar em contato conosco através do e-mail <strong>suporte@partiuingresso.com.br</strong></p>
        </div>
        <hr />
        <p class="is-size-5 strong">1. OBTENÇÃO DE INFORMAÇÕES PESSOAIS</p><br />
        <div class="content">
          <ul>
            <li>
              Informações pessoais são dados que podem ser usados para identificar um usuário individualmente ou entrar em contato com uma pessoa específica.
            </li>
            <li>
              Você poderá ser solicitado a fornecer suas informações pessoais enquanto estiver usando nossos serviços ou quando entrar em contato com a gente. E somente iremos compartilhar e usar essas informações nos limites previstos nesta política. Podemos, por exemplo, combinar essas informações pessoais com outras informações para fornecer e aperfeiçoar nossos produtos, serviços, conteúdo e publicidade.
            </li>
            <li>
              Se necessário, podemos também obter dados pessoais de terceiros, como serviços externos, parceiros de processamento de pagamento ou agências de informação comercial e de crédito.
            </li>
          </ul>
        </div>
        <hr />
        <p class="is-size-5 strong">2. QUAIS INFORMAÇÕES PESSOAIS OBTEMOS</p>
        <div class="content">
          <ul>
            <li>
              Quando você acessar a Plataforma da Partiu Ingresso e criar um usuário, iremos obter uma série de informações, dentre elas, seu nome, gênero, endereço eletrônico, endereço de correspondência, número de telefone e preferências de contato. Os dados de pagamento sensíveis fornecidos para a compra de ingressos ou inscrições, como o número do cartão de crédito e código de segurança, não são guardados em nossos servidores. Se você for um Organizador de eventos pagos, iremos obter as informações necessárias ao seu pagamento e para a geração da nota fiscal pelos serviços contratados.
            </li>
            <li>
              Se você decidir se inscrever em nossa Plataforma logando por meio de um serviço de rede social, estará utilizando as informações pessoais que já forneceu à referida rede social. Assim, as informações que poderemos obter, nesse caso, dependerá das configurações de privacidade junto ao serviço de rede social. Por exemplo, ao utilizar o Facebook para se inscrever, você estará permitindo que a Partiu Ingresso acesse as suas informações pessoais de nome, sobrenome e e-mail em sua conta do Facebook.
            </li>
          </ul>
        </div>
        <hr />
        <p class="is-size-5 strong">3. COMO USAMOS SUAS INFORMAÇÕES PESSOAIS</p><br />
        <div class="content">
          <p>As informações pessoais que obtemos (em alguns casos, em conjunto com informações não-pessoais) nos permitem fornecer nossos serviços a você. Por exemplo:</p>
          <ul>
            <li>
              Registro de usuário: criação da sua conta de usuário para que você use nossos serviços, com base nas informações pessoais por você fornecidas.
            </li>
            <li>
              Ingresso e/ou inscrição em eventos: usamos as suas informações pessoais necessárias para seu ingresso ou inscrição do evento, de acordo com as definições de cada Organizador, que também terá acesso à essas informações pessoais específicas de ingresso e/ou inscrição.
            </li>
            <li>
              Comunicação: nós poderemos usar suas informações pessoais para envio de materiais promocionais e de marketing, bem como permitir aos organizadores que também enviem materiais promocionais, incluindo convites e mensagens relacionados à eventos. É importante ressaltar que o Organizador é inteiramente responsável pelos seus atos, anúncios e conteúdo gerados, incluindo as mensagens enviadas via Plataforma da Partiu Ingresso. Caso você receba esses materiais via Partiu Ingresso, poderá optar por não receber mais, acessando o link de descadastramento no e-mail, porém, caso receba via Organizador do evento, deverá solicitar diretamente ao Organizador para que não realize mais o envio, visto que as comunicações podem ser realizadas pelos organizadores sem utilizar a Plataforma da Partiu Ingresso. Poderemos também usar suas informações pessoais para enviar avisos importantes, como comunicados sobre compras, alterações em eventos, condições e políticas. Como estas informações são importantes para sua experiência e interação com a Partiu Ingresso, você não poderá optar por não receber esse tipo de comunicado.
            </li>
            <li>
              Outros: nós também usamos informações pessoais para nos ajudar a desenvolver, oferecer e melhorar os nossos serviços, conteúdo e publicidade. Também poderemos usar informações pessoais para fins internos, tais como auditorias, análise de dados, pesquisas para aprimorar os produtos, serviços e comunicações, assim como a segurança da Plataforma e serviços e também identificar potenciais atividades fraudulentas e garantir a observância dos nossos Termos de Uso.
            </li>
            <li>
              Informações de participantes: exceto nas situações previstas nesta política, nós não transferimos a terceiros os seus dados pessoais, e de forma alguma realizamos a venda deles.
            </li>
          </ul>
        </div>
        <hr />
        <p class="is-size-5 strong">4. OBTENÇÃO E USO DE INFORMAÇÕES NÃO-PESSOAIS</p>
        <div class="content">
          <ul>
            <li>
              Nós também obtemos informações não-pessoais, ou seja, dados que não permitem a associação direta com qualquer pessoa especificamente. Nós poderemos obter, usar, transferir e divulgar informações não-pessoais para qualquer finalidade. São exemplos de dados não-pessoais, não se limitando a esses, idade, preferências individuais, idioma, CEP e código de área.
            </li>
            <li>
              Nós também poderemos obter informações sobre as atividades dos usuários na nossa Plataforma. Essas informações são agregadas e usadas para nos ajudar a fornecer informações abalizadas para os nossos clientes e entender quais partes da nossa Plataforma, incluindo nosso site e serviços atraem mais interesse.
            </li>
            <li>
              Se combinarmos informações não-pessoais com informações pessoais, a informação combinada será tratada como informação pessoal enquanto essa informação permanecer combinada.
            </li>
          </ul>
        </div>
        <hr />
        <p class="is-size-5 strong">5. COOKIES E OUTRAS TECNOLOGIAS</p>
        <div class="content">
          <ul>
            <li>
              A Plataforma da Partiu Ingresso, incluindo o site, os serviços online, os aplicativos interativos, as mensagens de e-mail e o material publicitário poderão usar "cookies" e outras tecnologias, tais como pixel tags e web beacons. Essas tecnologias nos ajudam a entender melhor o comportamento do usuário, nos dizem quais partes da nossa Plataforma as pessoas visitaram, além de facilitar e medir a eficácia da publicidade e das pesquisas na web. Nós tratamos as informações obtidas por meio de cookies e outras tecnologias como informações não-pessoais. Entretanto, na medida em que o endereço de IP (Internet Protocol) ou identificadores semelhantes sejam considerados informações pessoais pela lei local, nós também trataremos esses identificadores como informação pessoal. Da mesma forma, na medida em que a informação não-pessoal seja combinada com informação pessoal, nós tratamos a informação combinada como informação pessoal para os fins desta política.
            </li>
            <li>
              Como usamos cookies e outras tecnologias para relembrarem informações pessoais quando você usa nossos serviços, nossa meta nesses casos é fazer com que a sua experiência com a Partiu Ingresso seja mais conveniente e personalizada. Por exemplo, saber o seu primeiro nome nos permite dar boas-vindas a você na próxima vez em que você acessar. Conhecer a sua região nos permite viabilizar a você uma experiência de compras personalizada e mais útil. Saber que está usando o seu computador ou dispositivo para adquirir determinado produto ou usar um determinado serviço, permite fazer com que sua publicidade e comunicações de e-mail sejam mais relevantes para os seus interesses.
            </li>
            <li>
              Se você deseja bloquear os cookies citados, consulte as orientações do seu navegador. Porém, não recomendamos esta ação, já que certas características e ferramentas da Plataforma, incluindo o site, poderão não funcionar corretamente.
            </li>
            <li>
              Como ocorre na maioria dos sites e Plataformas que você utiliza, nós obtemos algumas informações automaticamente e armazenamos em arquivos de log. Entre essas informações estão endereços IP, tipo de navegador e idioma, provedor de serviços de Internet (ISP), páginas de consulta e saída, sistema operacional, informações sobre data e horário e dados sobre a sequência de cliques.
            </li>
            <li>
              Nós usamos essas informações para entender e analisar tendências, administrar a Plataforma, aprender sobre o comportamento do usuário e obter informações demográficas sobre a nossa base de usuários de maneira geral. Assim, a Partiu Ingresso poderá usar estas informações em nossos serviços de marketing e publicidade, bem como para aprimorar a segurança da Plataforma, incluindo o site e serviços ou identificar potenciais atividades fraudulentas e fazer valer os nossos Termos de Uso.
            </li>
            <li>
              Em algumas de nossas mensagens de e-mail, poderemos utilizar uma "URL click-through" vinculada ao conteúdo da Plataforma da Partiu Ingresso. Quando os clientes clicam em uma dessas URLs, os usuários são enviados para um servidor web diferente antes de chegarem à página de destino na nossa Plataforma. Nós monitoramos esses dados de click-through para entender o interesse em determinados tópicos e avaliar a eficácia das comunicações com os nossos clientes. Se você preferir não ser monitorado dessa maneira, não clique em texto nem nos links de imagens nas mensagens de e-mail.
            </li>
            <li>
              Os pixel tags nos permitem enviar mensagens de e-mail em formatos que os clientes possam ler e nos dizer se o e-mail foi aberto ou não. Nós podemos usar essas informações para reduzir ou eliminar as mensagens enviadas aos clientes. Também podemos utilizar os pixel tags em conjunto com serviços de terceiros em outras situações, as quais também estão descritas nessa política.
            </li>
          </ul>
        </div>
        <hr />
        <p class="is-size-5 strong">6. DADOS COLETADOS PELO GOOGLE E OUTRAS PLATAFORMAS DE TERCEIROS</p>
        <div class="content">
          <ul>
            <li>
              A Partiu Ingresso utiliza a Publicidades de Visualização e implementa a funcionalidade de Remarketing para anunciar online. Desta forma, fornecedores terceiros, incluindo o Google, mostram os nossos anúncios em Websites na Internet.
            </li>
            <li>
              A Partiu Ingresso utiliza, assim como os fornecedores terceiros, incluindo o Google, cookies originais (como o cookie do Google Analytics) e cookies de terceiros (como o cookie DoubleClick) em conjunto para informar, otimizar e publicar anúncios com base nas visitas passadas de alguém à sua Plataforma.
            </li>
            <li>
              No caso de Publicidade via Google, os visitantes podem excluir a Publicidade de Visualização do Google Analytics e personalizar anúncios na Rede de Display da Google com o Gestor das Preferências de Anúncios, assim como podem também fazer o download da extensão do navegador para desativar o Google Analytics.
            </li>
            <li>
              Também podemos utilizar, assim como permitir aos organizadores, o uso de pixel tags em conjunto com serviços de terceiros, para que seja possível acompanhar e realizar a gestão do processo de compras de ingressos ou inscrições.
            </li>
          </ul>
        </div>
        <hr />
        <p class="is-size-5 strong">7. DIVULGAÇÃO PARA TERCEIROS</p>
        <div class="content">
          <ul>
            <li>
              Prestadores de serviço: nós podemos utilizar empresas terceirizadas e indivíduos para facilitar nossos serviços, prover serviços em nosso nome, executar atividades relacionadas aos serviços, incluindo, mas não se limitando à, manutenção dos serviços, gerenciamento de banco de dados, análise de dados e melhoria de funcionalidades, ou nos auxiliar em analisar como os nossos serviços são usado. Essas empresas ou indivíduos têm acesso à sua informação pessoal apenas para executar tarefas em nosso favor e são obrigados a não usar ou divulgar tais informações para nenhuma outra finalidade, adotando todos os controles necessários para tal.
            </li>
            <li>
              Serviços de redes sociais: nós podemos divulgar informações de sua conta no Partiu Ingresso (incluindo informações pessoais) para o serviço de rede social ligado à sua conta Partiu Ingresso. Nós permitimos que os usuários conectem suas contas de serviços de redes sociais aos nossos serviços. Os usuários poderão então postar atividades recentes em nossos serviços de volta para suas contas de redes sociais. Se você não quiser mais postar suas atividades em sua conta de rede social, poderá fazê-lo a qualquer momento, alterando as suas preferências.
            </li>
            <li>
              Outros: a Partiu Ingresso poderá ser obrigada por lei, processo, litígio e/ou determinações de autoridades públicas ou governamentais, dentro ou fora do país em que você reside, a divulgar suas informações pessoais. Nós também poderemos divulgar informações sobre você se entendermos que essa divulgação tem por finalidade a segurança nacional, exigência legal ou outros assuntos de importância pública ou quando a divulgação for necessária e/ou apropriada. Nós também poderemos divulgar informações sobre você se nós entendermos que a divulgação é razoavelmente necessária para fazer valer nossos Termos de Uso ou proteger nossas operações ou usuários. Além disso, no caso de uma reestruturação, fusão ou venda, poderemos transferir toda e qualquer informação pessoal que temos ao terceiro aplicável nesses casos.
            </li>
          </ul>
        </div>
        <hr />
        <p class="is-size-5 strong">8. PROTEÇÃO DE INFORMAÇÕES PESSOAIS</p><br />
        <div class="content">
          <p>A Partiu Ingresso toma precauções, entre elas medidas administrativas, técnicas e físicas, para proteger as suas informações pessoais contra perda, roubo, uso indevido, bem como contra acesso não autorizado, divulgação, alteração e destruição.</p>
        </div>
        <hr />
        <p class="is-size-5 strong">9. INTEGRIDADE E RETENÇÃO DE INFORMAÇÕES PESSOAIS</p><br />
        <div class="content">
          <p>A Partiu Ingresso o ajuda a manter as suas informações pessoais precisas, completas e atualizadas. Para isso, sempre que necessário, poderemos solicitar que você atualize suas informações durante a utilização dos nossos serviços. Nós retemos suas informações pessoais pelo período necessário para atender as finalidades apresentadas nesta política, a menos que um período maior de retenção seja necessário ou permitido por lei.</p>
        </div>
        <hr />
        <p class="is-size-5 strong">10. DIRECIONAMENTO A OUTROS SITES E SERVIÇOS</p><br />
        <div class="content">
          <p>Nossos serviços podem conter links para outros websites e serviços online de terceiros, como por exemplo, os que são inseridos nas páginas de eventos por organizadores ou nos convites também enviados diretamente por organizadores. Se você escolher visitar outro website ou serviço online clicando em um link, você será redirecionado para o website ou serviço online terceiro. O fato do direcionamento para um website ou serviço online não é um endosso, autorização ou representação de afiliação a esse terceiro, nem é um endosso de suas políticas ou práticas de privacidade ou segurança da informação. Nós não exercemos controle sobre websites e serviços online terceiros e o aconselhamos a ler as políticas de privacidade e termos de uso antes de prover qualquer informação ou usar outros websites ou serviços.</p>
        </div>
        <hr />
        <p class="is-size-5 strong">11. CRIANÇAS</p><br />
        <div class="content">
          <p>Esse serviço não é direcionado a crianças menores de 13 anos. Nós não obtemos intencionalmente informações pessoais de crianças menores de 13 anos. Se tomarmos conhecimento de que obtivemos informações pessoais de uma criança menor de 13 anos, tomaremos as medidas para excluir tais informações o mais breve possível.</p>
        </div>
        <hr />
        <p class="is-size-5 strong">12. CONSENTIMENTO E MUDANÇAS NA POLÍTICA DE PRIVACIDADE</p><br />
        <div class="content">
          <p>Ao utilizar nossos serviços, você concorda com a política. Estamos em constante aprimoramento, com novas funcionalidades e novos serviços prestados. Por isso, às vezes é necessário fazer alterações nesta política. A cada vez que isto ocorrer atualizaremos a data da última modificação, disponível no começo da página. O uso continuado dos serviços após quaisquer alterações desta política indica sua concordância com os termos revistos.</p>
        </div>
      </div>
    </div>
  </div>
</section>