<div class="content">
  <p class="title">Vai ficar em casa?</p>
  <p class="subtitle is-6">Você não tem nenhum ingresso reservado. Comece agora a explorar os eventos disponíveis em sua região.</p>
  <%= link_to "Partiu sair de casa!", root_path, class: 'button is-primary' %>
</div>
