<aside class="menu">
  <p class="menu-label">
    Gerenciamento do Evento
  </p>
  <ul class="menu-list">
    <li><%= link_to_in_li "Visão Geral", links[:event] %></li>
    <li><%= link_to_in_li "Ingressos", links[:event_offers] %></li>
    <li><%= link_to_in_li "Marketing", links[:event_marketings] %></li>
    <li><%= link_to_in_li "Check-in",  links[:event_check_in] %></li>
  </ul>
</aside>