<div id="offer-modal" class="modal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Criar Ingressos</p>
			<a class="delete" aria-label="close"></a>
		</header>
		<section class="modal-card-body">
			<div class="modal-form"></div>
		</section>
		<footer class="modal-card-foot" style="justify-content: flex-end;">
			<a id="create-offer-button" class="button is-success">Criar Ingresso</a>
			<a id="update-offer-button" class="button is-success">Salvar</a>
			<a id="cancel-button" class="button">Cancelar</a>
		</footer>
	</div>
</div>
