<%= javascript_pack_tag "events/admin" %>
<section class="section hero">
  <div class="container hero-content">
  </div>
</section>
<section class="section events-new">
	<div class="container">		
		<div class="columns is-centered">
			<div class="column is-11">
				<div class="level">
					<div class="level-left">
						<div class="level-item">
							<p class="title is-size-2">Editar Evento</p>
						</div>
					</div>
					<div class="level-right">
						<div class="level-item">
							<span class="icon is-inline-block">
								<i class="far fa-building"></i>
							</span>
							<span><%= current_user.company.name %></span>
						</div>
					</div>
				</div>
				<%= render partial: "form", locals: { event: @event } %>
			</div>
		</div>
	</div>
</section>
