<style>
  .section.hero-home { background-image: linear-gradient(rgba(20,20,25,0.5), rgba(20,20,25,0.5)), url(<%= asset_path "hero/#{rand(29)}.jpg" %>); }
</style>

<section class="section hero-home">
  <div class="container hero-content-home">
    <div class="columns is-centered">
      <div class="column is-8 has-text-centered">
        <div class="field is-grouped">
          <div class="control is-expanded search">
            <input class="input is-large" type="text" placeholder="Busque seu próximo evento e partiu">
          </div>
          <div class="control search">
            <button class="button is-white is-large"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section teste">
  <div class="container">
    <% if @events.count >= 2 %>
     <%= @events[0].name %>

      <% @events[1..1].each do |event| %>
        <% event.name %>
      <% end %>
    <% else %>

    <% end %>
  </div>
</section>