<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<%= javascript_include_tag Rails.root.join('vendor', 'assets', 'javascript', 'instascan.min.js') %>

<section class="section validations-new">
	<div class="container">
		<div class="columns is-centered">
			<div class="column">
				<video id="qr-video"></video>
				<%= form_with(id: "new_validation", model: @ticket_token, url: tickets_validations_path) do |f|%>
					<%= f.hidden_field :code %>
				<% end %>
				<p id="validation-result"></p>
				<button id="clean-validation" class="button is-primary">Limpar validações</button>
			</div>
		</div>
	</div>
</section>
