<section class="section hero">
  <div class="container hero-content">
  </div>
</section>



<section class="section painel">
  <div class="container">
    <div class="columns is-centered">
        
        <div class="column is-3">        
            <aside class="menu">
              <p class="menu-label">
                Meus Eventos
              </p>
              <ul class="menu-list">
                <li><a class="is-active">Publicar Evento</a></li>
                 <li><a class="is-active">Eventos Ativos</a></li>
              </ul>
              <p class="menu-label">
                Transações
              </p>
              <ul class="menu-list">
                <li><a>Histórico de Vendas</a></li>
                <li><a>Saldo</a></li>
              </ul>
              <p class="menu-label">
                Minha Empresa
              </p>
              <ul class="menu-list">
                <li><a>Editar Perfil</a></li>
                <li><a>Dados Bancários</a></li>
              </ul>
            </aside>
        </div>


      <div class="column is-6">
        <div class="card">
          <div class="card-content">
            

          </div>
        </div>

      </div>
    </div>
  </div>
</section>