<%= javascript_pack_tag "producer_admin/events/show" %>
<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section report">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-3">
        <%= render "admin/events/menu" %>
      </div>
      <div class="column is-8">
        <%= render "header" %>
        <%= render "producer_admin/events/show" %>
      </div>
    </div>
  </div>
</section>
