<section class="section hero">
  <div class="container hero-content">
  </div>
</section>
<section class="section">
	<div class="container">		
		<div class="columns is-centered">

      <div class="column is-3">
        <%= render "admin/producer_menu" %>
      </div>

			<div class="column is-8">
				<%= render partial: "producer_admin/finances/new", locals: { seller: @seller, admin: true } %>
			</div>
		</div>
	</div>
</section>
