<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section painel">
  <div class="container">
    <div class="columns is-centered">
        
      <div class="column is-3">
        <%= render "admin/producer_menu" %>
      </div>

      <div class="column is-8">
        <%= render "producer_admin/sellers/edit" %>
      </div>
    </div>
  </div>
</section>