<section class="section sellers-edit">
  <div class="container">
    <div class="columns is-centered">
        
      <div class="column is-3">
        <%= render "admin/producer_menu" %>
      </div>

      <div class="column is-9">
        <%= render "producer_admin/sellers/edit" %>
      </div>
    </div>
  </div>
</section>