<%= javascript_pack_tag "producer_admin/dashboard" %>

<section class="section painel backstage">
  <div class="container">
    <div class="columns is-centered">
        
      <div class="column is-3">        
        <%= render "producer_admin/menu" %>
      </div>

      <div class="column is-8">
        <%= render partial: "show", locals: {
          links: {
            seller: producer_admin_seller_path(@seller),
            events: producer_admin_events_path,
            event: lambda { |event| producer_admin_event_path(event) }
          }
        } %>
      </div>
    </div>
  </div>
</section>