<%= javascript_pack_tag "companies/new" %>
<section class="section hero">
  <div class="container hero-content">
  </div>
</section>
<section class="section">
	<div data-behavior="vue">
		<producer-registration-wizard />
	</div>
</section>
