<div>
  <div class="box">
		<div class="level">
			<div class="level-left">
				<div class="level-item">
					<p class="is-uppercase has-text-weight-semibold has-text-grey">Gerenciar ingressos</p>
				</div>
			</div>
		</div>
    <div id="offers-create-area" class="section has-text-centered">
			<div class="subtitle is-6">
				<p>Qual tipo de ingresso você deseja criar?</p>
			</div>
      <div class="">
			<a id="offer-button" class="button" @click="newOffer('costly')">
				<span class="icon has-text-success">
				  <i class="fas fa-plus"></i>
				</span>
				<span>Ingresso Pago</span>
			</a>
			<a id="offer-button" class="button" @click="newOffer('free')">
				<span class="icon has-text-success">
				  <i class="fas fa-plus"></i>
				</span>
				<span>Ingresso Gratuito</span>
			</a>
      </div>
    </div>
    <div class="tabs is-fullwidth">
			<ul>
				<li :class="{ 'is-active': this.availableFilter }" @click="setAvailableFilter(true)">
					<a>
						<span>Ativos</span>
					</a>
				</li>
				<li :class="{ 'is-active': !this.availableFilter }" @click="setAvailableFilter(false)">
					<a>
						<span>Não Ativos</span>
					</a>
				</li>
			</ul>
    </div>
    <div class="table-container">
			<table class="table is-fullwidth">
				<thead>
					<th>Nome</th>
					<th>Vendidos/Total</th>
					<th>Preço</th>
					<th>Preço final</th>
					<th></th>
				</thead>
				<tbody>
					<tr v-for="offer in filteredItems">
						<td>{{ offer.name }}</td>
						<td>{{ offer.sold + '/' + offer.quantity }}</td>
						<td>{{ offer.price.display }}</td>
						<td>{{ offer.price_with_fee.display }}</td>
						<td>
							<a v-if="offer.sold === 0" @click="confirmOfferDeletion(offer)">
				        <span class="icon">
					        <i class="fas fa-trash"></i>
						    </span>
							</a>
							<span class="icon" v-else></span>
							<a style="margin-right: 8px;" @click="editOffer(offer)">
				        <span class="icon">
					        <i class="fas fa-edit"></i>
						    </span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<confirm-dialog
		v-if="confirmDialogVisible"
		title="Remover ingresso"
		:message="confirmMessage"
		type="is-danger"
		@close="confirmDialogClosed()"
		@confirm="dialogConfirmed()"
	>
	</confirm-dialog>
	<ticket-form
		v-if="ticketFormVisible"
		:offer="selectedOffer"
		:free="ticketFree"
		@close="ticketFormClosed()"
	></ticket-form>
</div>
