// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.prototype-row {
	display: none;
}

.hidden-fields {
	display: none;
}

.section.hero-event {
  background-size: cover;
  min-height: 28rem;
  width: 100%;
  background-position: center 40%;
}

.hero-content-event {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
