// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.is-forward-1 {
  margin-right: 8.3333333333%;
}


.column.total {
  padding-top: unset;
}

.offer-title {
  font-weight: 700;
  font-size: 1.15rem;
}

.offer-summary {
  padding-top: 1rem;
  font-weight: 300;
  align-items: center;
}

.offer-start {
  font-size: 0.9rem;
}

.offer-header {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-bottom: unset;
}

.offer-content {
  padding-bottom: unset;
}

p.total {
  font-weight: 700;
  font-feature-settings: 'ss01' 1;
}


// Form

.help.is-inline-block {
  margin-left: 0.5rem;
}

.ticket-label {
  padding-bottom: unset;
}

.confirm.button {
  font-weight: 600;
  margin-top: 2rem;
  height: 3rem;
  & span {
    vertical-align: middle;
  }
}

.cards-label {
  padding-bottom: 8.400px;
}

.no-top-pad {
  padding-top: unset;
}

.help.checkout {
  position: absolute;
}

.unselected {
  transition: .5s ease;
  opacity: 0.3;
}

.cards > .level-item > img {
  transition: .5s ease;
}

form.new_order {
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
   
  input[type="number"] {
      -moz-appearance: textfield;
  }
}


// My Orders
tr.trhidden {
  display: block;
  height: 0px;
  & td.tdhidden {
    border: 0px;
    padding: unset;
  }
}
.order.row {
  cursor: pointer;
}
.order.details {
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  box-shadow: 0px 15px 45px -12px rgba(0,0,0,0.75);
}