@media screen and (max-width: 600px) {

  .is-forward-1 {
    margin-right: unset;
  }

  .navbar-link.user {
    color: unset;
  }

  .navbar-item.user {
    color: unset;
  }

  .search > input::placeholder {
    font-size: 1rem;
    bottom: 20%;
  }

  .event.title {
    font-size: 2rem;
  }

  .header.button {
    color: unset;
  }

  #map {
    width: 300px;
    height: 300px;
  }

  .event.title {
    font-style: normal;
    font-weight: 800;
    letter-spacing: unset;
    text-shadow: 1px 4px 7px rgba(0,0,0,0.25);
    margin-top: 1.5rem;
    text-align: center;
  }

  .title.event-content {
    font-size: 1.55rem;
  }

  .events-table {
    overflow-x: auto;
    font-size: 0.75rem;
    margin-left: -0.5rem;
  }

  .section.description {
    padding-top: 6rem;
  }

  .ordered-mobile {
    display: flex;
    flex-flow: column;
  }
  .ordered-mobile .fl-1 {
    order: 1;
  }
  .ordered-mobile .fl-2 {
    order: 2;
  }
  .ordered-mobile .fl-3 {
    order: 3;
  }
  .ordered-mobile .fl-4 {
    order: 4;
  }

}