// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offer-filter {
  margin-top: auto;
}

table.admin-orders .input {
  height: unset;
  padding: unset;
  border: 0;
  font-size: 0.85rem;
}

table.admin-orders .icon {
	&:hover {
	  color: $primary;
	  cursor: pointer;
	}
	&:focus {
		outline: none;
	}
}

tr.admin-orders {
  white-space: nowrap;
}