
$red: #C72328;
$primary: $red;
$background: #171717;
$link-hover: #ffffff;

$navbar-dropdown-arrow: $red;
$navbar-item-hover-color: $red;

$menu-item-hover-background-color: #202020;
$menu-item-hover-color: #ffffff;
$menu-item-active-background-color: $red;

$table-color: rgba(255, 255, 255, 0.75);
$table-background-color: #202020;
$table-cell-border: 1px solid #171717;
$table-cell-heading-color: #ffffff;
$table-head-cell-color: #ffffff;
$table-row-hover-background-color: #363636;

$tabs-link-active-color: #C72328;
$tabs-link-active-border-bottom-color: #C72328;
$tabs-link-hover-color: #ffffff;
$tabs-link-hover-border-bottom-color: #ffffff;
$tabs-border-bottom-color: rgba(255, 255, 255, 0.65);

$label-color: unset;
$gap: 32px;
$fullhd: 1230px + (2 * $gap);

$column-gap: 1.05rem;

$text: rgba(255, 255, 255, 0.75);

.is-notice {
  @extend .is-success;
}

.is-alert {
  @extend .is-danger;
}

.navbar-item > .icon {
  color: hsl(0, 0%, 48%);
}

.navbar-item:hover > .icon {
  color: $primary;
}
$family-primary: 'Inter', sans-serif;
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@import '~bulma/bulma';
@import '~bulma-switch';

// Redesign
@import 'home';
@import 'header';
@import 'users';
@import 'footer';
@import 'sellers';


@import 'admin';
@import 'ads';
@import 'animate';
@import 'finances';
@import 'custom';
@import 'events';
@import 'inter';
@import 'orders';
@import 'producer_admin';
@import 'responsive';
@import 'ticket_tokens';
@import 'transfers';
@import 'validations';
@import 'trix';
