html {
  min-height: 100%;
  position:relative;
  background-color: #171717;
}

body {
  min-height:100%;
  margin-bottom: 350px;
}

strong { color: unset; }

input:focus { outline: none; }

.title {
  color: unset;
  font-weight: 700;
}

.subtitle {
  color: unset;
  font-weight: 400;
}

.strong {
  font-weight: 700;
}

.thin {
  font-weight: 300;
}

.inline {
  display: inline;
}

.footer-clear {
  background-color: unset;
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  font-size: 0.85rem;
  hr { height: 3px; }
  .logo { opacity: 0.2; }
  .cnpj { opacity: 0.5; font-size: 0.7rem; }
  .copyright { opacity: 0.5; font-size: 0.75rem; }
}

.hero-content {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.message.signup {
  margin-top: -30px;
}

.error-msg-area {
  height: 12px;
}

.error {
  display: none;
  width: 100%;

  font-size: 0.75rem;
  color: red;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error.active {
  display: block;
}

.file-name {
  max-width: unset;
}

.table {
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.card {
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.fa-4x {
  font-size: 4em;
}

.numr {
  font-feature-settings: 'numr' 1;
}


// New

section.section {
  margin-top: 100px;
}

.title { font-size: 40px; }

@media screen and (max-width: 600px) {
  .title { font-size: 20px; }
  section.section {
    margin-top: 24px;
    padding: 0 20px;
  }
}
