.homeHero {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 1000px;
  width: 100%;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 75.3%, #171717 100%), linear-gradient(180deg, #171717 0%, rgba(23, 23, 23, 0.8) 52.6%, rgba(23, 23, 23, 0.6) 100%);
  }
}

.section.home {
  * > h1 {
    margin-top: 192px;
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
    line-height: 64px;
    letter-spacing: -0.00833333em;
  }
  * > div.field {
    width: 720px;
    margin-top: 40px;
    * > button {
      height: 60px;
      background: #C72328;
      border-radius: 0px 8px 8px 0px;
      &:hover {
        background: #DB2B2F;
      }
    }
    * > input[type="text"] {
      border-radius: 8px;
      border: none;
      height: 60px;
      caret-color: #DB2B2F;
      font-size: 20px;
      font-weight: normal;
      z-index: 3;
      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
        font-size: 20px;
        font-weight: normal;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.section.featured {
  margin-top: 152px;
  .container {
    > h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #fff;
      text-align: center;
      text-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.25);
    }
    .columns {
      margin-top: 40px;
      flex-basis: auto;
      &.odd {
        div.column { width: 58%; flex-basis: auto; }
        div.column:nth-child(1) { width: 42%; }
        div.column:nth-child(4) { width: 42%; }
        div.column:nth-child(5) { width: 42%; }
        div.column:nth-last-child(-n+3) { width: 33.33%; flex: 1 1 0%; }
      }
      &.even {
        div.column { width: 58%; flex-basis: auto; }
        div.column:nth-child(1) { width: 42%; }
        div.column:nth-child(4) { width: 42%; }
        div.column:nth-child(5) { width: 42%; }
        div.column:nth-child(8) { width: 42%; }
      }
    }
  }
}

.eventCard {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 348px;
  box-shadow: 2px 4px 8px rgba(17, 17, 17, 0.15);
  border-radius: 10px;
  position: relative;
  z-index: 0;
  .eventOverlay {
    display: flex;
    overflow: hidden;
    padding: 2.5rem;
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
    z-index: 1;
    opacity: 1;
    border-radius: 10px;
    justify-content: space-between;
    &:hover {
      background: linear-gradient(170.16deg, rgba(28, 183, 244, 0.75) 10.71%, rgba(2, 60, 177, 0.15) 92.58%), linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #1B1B1B 100%);
      box-shadow: 0 2px 30px rgba(28, 183, 244, 0.13);
      .itemsRight {
        div:last-child {
          display: block;
          transition: .5s ease;
        }
      }
    }
    .itemsLeft {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > div.soldTickets {
        align-self: flex-start;
        > * {
          vertical-align: middle;
          display: inline-block;
        }
        p.ticketsNumber {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          margin-left: 8px;
        }
      }
      > div.info {
        align-self: flex-end;
        p.popularTag {
          background: linear-gradient(95.62deg, #C72328 -10.07%, #DD2476 100%);
          border-radius: 3px;
          text-transform: uppercase;
          color: #fff;
          width: fit-content;
          font-weight: 600;
          font-size: 0.875rem;
          text-align: center;
          margin-bottom: 20px;
          padding: 0 10px;
        }
        p.runningOutTag {
          background: linear-gradient(95.62deg, #C72328 -10.07%, #DD2476 100%);
          border-radius: 3px;
          text-transform: uppercase;
          color: #fff;
          max-width: 109px;
          font-weight: 600;
          font-size: 0.875rem;
          text-align: center;
          margin-bottom: 20px;
        }
        p.eventName {
          font-size: 2rem;
          font-weight: bold;
          line-height: 2rem;
        }
        p.eventDate {
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.125rem;
          padding-top: 10px;
        }
        p.eventCity {
          padding-top: 10px;
          font-weight: 500;
          > * {
            vertical-align: middle;
          }
          img {
            height: 24px;
            margin-right: 2px;
            margin-left: -4px;
          }
        }
        * > p.eventCity span {
          font-size: 1rem;
          line-height: 1rem;
        }
      }
    }
    .itemsRight {
      display: flex;
      div:last-child {
        align-self: flex-end;
        display: none;
      }
    }
  }
  div.wishList {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    z-index: 2;
    &:hover {
      img { transform: scale(1.2); transition: .2s ease; }
    }
  }
}

.section.registerCTA {
  margin-top: -11px;
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    height: 228px;
    background: linear-gradient(98.14deg, #023CB1 -10.07%, #1CB7F4 100%);
    border-radius: 10px;
    div:first-child {
      color: #ffffff;
      font-weight: bold;
      font-size: 1.875rem;
      line-height: 46px;
      img { vertical-align: middle; }
    }
    div:last-child {
      .button {
        font-weight: 600;
        color: #1CB7F4;
        text-transform: uppercase;
        border-radius: 8px;
        min-height: 40px;
        border: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1);
        transition: .1s ease;
        vertical-align: middle;
        &:hover {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transform: scale(1.015); 
          transition: .1s ease;
        }
      }
      span.vr {
        border: 0.5px solid #FFFFFF;
        height: 60px;
        display: inline-flex;
        margin-left: 30px;
        margin-right: 30px;
        vertical-align: middle;
      }
      a {
        margin-right: 20px;
        img { 
          vertical-align: middle;
          transform: scale(1);
          transition: .1s ease;
          vertical-align: middle;
          -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
          &:hover {
            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            transform: scale(1.015); 
            transition: .1s ease;
          }
        }
      }
    }
  }
}

.ellipse {
  position: absolute;
  z-index: -1;
  left: 50%;
  margin-top: -200px;
  div {
    position: relative;
    left: -50%;
    min-height: 305px;
    min-width: 1210px;
    overflow: visible;
    opacity: 1;
    background:radial-gradient(ellipse farthest-side at center center, rgba(28, 183, 244, 0.2) 0%, transparent 100%);
    filter: blur(25px);
    transform: scale(1.4);
    opacity: 0.4;
  }
}

.section.filterEvents {
  margin-top: -11px;
  * > .selectCity {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: #ffffff;
    img { vertical-align: middle; }
    img:last-child { display: none; }
  }
  * > .selectFilter {
    display: none;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: #ffffff;
    span { color: #1CB7F4; margin-left: 10px; }
  }
  * > .tempTitle {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: #ffffff;
  }
}

.section.moreEvents {
  margin-top: -11px;
  * > .columns {
    div.column { min-width: 373.33px; flex-basis: auto; }
    &.odd {
      div.column:first-child { min-width: 50%; max-width: 50%; flex-basis: auto; }
    }
  }
}

.section.sellerCTA {
  margin-top: 24px;
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    height: 228px;
    background: linear-gradient(98.14deg, #C72328 -10.07%, #DD2476 100%);
    border-radius: 10px;
    div:first-child {
      color: #ffffff;
      font-weight: bold;
      font-size: 1.875rem;
      line-height: 46px;
      img { vertical-align: middle; }
    }
    div:last-child {
      .button {
        font-weight: 600;
        color: #C72328;
        text-transform: uppercase;
        border-radius: 8px;
        min-height: 40px;
        border: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1);
        transition: .1s ease;
        vertical-align: middle;
        &:hover {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transform: scale(1.015); 
          transition: .1s ease;
        }
      }
      a:last-child {
        margin-left: 20px;
        color: #ffffff;
        font-weight: 600;
        text-decoration-line: underline;
        text-transform: uppercase;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section > .container > .columns {
    &.odd {
      div.column { width: auto !important; }
    }
    &.even {
      div.column { width: auto !important; }
    }
  }
}

// Mobile

.section.featuredMob {
  padding: 0 20px;
  h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
  }
  .eventCard {
    margin-top: 1rem;
    height: 290px;
    .wishList {
      margin-top: 1rem;
      margin-right: 1rem;
    }
    .eventOverlay {
      padding: 1rem;
      &:hover { background: unset; box-shadow: unset; }
    .itemsLeft {
      .info {
        .popularTag {
          font-size: 12px;
          line-height: 18px;
          width: fit-content;
          padding: 0 10px;
        }
        .eventName {
          font-size: 22px;
          line-height: 22px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .eventDate {
          font-size: 14px;
          line-height: 14px;
          padding-top: 8px;
        }
        .eventCity {
          font-size: 14px;
          line-height: 14px;
          padding-top: 8px;
          img {
            height: 22px;
            margin-right: 2px;
            margin-left: 0;
          }
        }
      }
    }
    }
  }
}

.section.eventsMob {
  margin-top: 50px;
  padding: unset;
  h2 {
    padding: 0 20px;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
  }
  .horizontalList {
    padding: 20px;
    margin-top: -4px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 20px;
    &::-webkit-scrollbar {
      background: transparent;
      width: 0;
    }
    .eventItem {
      flex-shrink: 0;
      flex-grow: 0;
      flex-basis: 13.75rem;
      width: 13.75rem;
      scroll-snap-align: start;
      transition: transform 0.2s ease-out 0s;
      position: relative;
      margin-right: 20px;
      &:last-of-type { border-right: 1.4375rem solid transparent; width: 240px; }
      div.wishList {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.875rem;
        z-index: 2;
        &:hover {
          img { transform: scale(1.2); transition: .2s ease; }
        }
      }
    }
    .miniCard {
      display: flex;
      flex-direction: column;
      height: 128.47px;
      width: 220px;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
      margin-bottom: 4px;
      padding: 14px;
      div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
      div.itemsUp {
        > div.soldTickets {
          display: block;
          align-self: flex-start;
          > * {
            vertical-align: middle;
            display: inline-block;
          }
          p.ticketsNumber {
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 600;
            font-size: 8px;
            line-height: 10px;
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            margin-left: 8px;
          }
        }
      }
      div.itemsDown {
        div {
          align-self: flex-end;
          p.popularTag {
            background: linear-gradient(95.62deg, #C72328 -10.07%, #DD2476 100%);
            border-radius: 3px;
            text-transform: uppercase;
            color: #fff;
            width: fit-content;
            padding: 0 10px;
            font-weight: 600;
            font-size: 8px;
            line-height: 14px;
            text-align: center;
            margin-bottom: 8px;
          }
          p.eventCity {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
            letter-spacing: 0.05em;
            img { vertical-align: middle; margin-right: 3px; }
          }
        }
      }
    }
    a > p { padding: 8px 4px 0; }
    p.eventName {
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      color: #ffffff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p.eventDate {
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

.section.registerCTAmob {
  padding: 60px 40px;
  margin-top: 50px;
  background: linear-gradient(92.06deg, #023CB1 -10.07%, #1CB7F4 100%);
  width: 100%;
  height: 272px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    div:first-of-type { margin-bottom: 10px; }
    div p {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
    }
    div:last-of-type {
      margin-top: 20px;
      .button {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: #1CB7F4;
      }
    }
  }
}

.section.sellerCTAmob {
  padding: 60px 50px;
  margin-top: 50px;
  width: 100%;
  height: 264px;
  background: linear-gradient(92.12deg, #C72328 -10.07%, #DD2476 100%);
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    div:first-of-type { margin-bottom: 20px; }
    div p {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
    }
    div {
      .button {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: #C72328;
      }
    }
    div:last-of-type {
      margin-top: 20px;
      a {
        color: #ffffff;
        text-transform: uppercase;
        text-decoration-line: underline;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}