.homeHero {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 1000px;
  width: 100%;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 75.3%, #171717 100%), linear-gradient(180deg, #171717 0%, rgba(23, 23, 23, 0.8) 52.6%, rgba(23, 23, 23, 0.6) 100%);
  }
}

.section.home {
  * > h1 {
    margin-top: 192px;
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
    line-height: 64px;
    letter-spacing: -0.00833333em;
  }
  * > div.field {
    width: 720px;
    margin-top: 40px;
    * > button {
      height: 60px;
      background: #C72328;
      border-radius: 0px 8px 8px 0px;
      &:hover {
        background: #DB2B2F;
      }
    }
    * > input[type="text"] {
      border-radius: 8px;
      border: none;
      height: 60px;
      caret-color: #DB2B2F;
      font-size: 20px;
      font-weight: normal;
      z-index: 3;
      &::placeholder {
        color: rgba(0, 0, 0, 0.4);
        font-size: 20px;
        font-weight: normal;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
}

.section.featured {
  margin-top: 152px;
  .container {
    > h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: #fff;
      text-align: center;
      text-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.25);
    }
    .columns {
      margin-top: 40px;
      &.odd {
        div.column { min-width: 700px; flex-basis: auto; }
        div.column:nth-child(1) { min-width: 460px; flex-basis: auto; }
        div.column:nth-child(4) { min-width: 460px; flex-basis: auto; }
        div.column:nth-child(5) { min-width: 460px; flex-basis: auto; }
        div.column:nth-last-child(-n+3) { min-width: 33.33%; flex: 1 1 0%; flex-basis: 0; }
      }
      &.even {
        div.column { min-width: 700px; flex-basis: auto; }
        div.column:nth-child(1) { min-width: 460px; flex-basis: auto; }
        div.column:nth-child(4) { min-width: 460px; flex-basis: auto; }
        div.column:nth-child(5) { min-width: 460px; flex-basis: auto; }
        div.column:nth-child(8) { min-width: 460px; flex-basis: auto; }
      }
    }
  }
}

.eventCard {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 348px;
  box-shadow: 2px 4px 8px rgba(17, 17, 17, 0.15);
  border-radius: 10px;
  position: relative;
  z-index: 0;
  .eventOverlay {
    display: flex;
    padding: 2.5rem;
    height: 100%;
    width: 100%;
    color: white;
    position: relative;
    z-index: 1;
    opacity: 1;
    border-radius: 10px;
    justify-content: space-between;
    &:hover {
      background: linear-gradient(170.16deg, rgba(28, 183, 244, 0.75) 10.71%, rgba(2, 60, 177, 0.15) 92.58%), linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #1B1B1B 100%);
      box-shadow: 0 0 30px 2px rgba(28, 183, 244, 0.075);
      .itemsRight {
        div:last-child {
          display: block;
          transition: .5s ease;
        }
      }
    }
    .itemsLeft {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > div.soldTickets {
        align-self: flex-start;
        > * {
          vertical-align: middle;
          display: inline-block;
        }
        p.ticketsNumber {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          margin-left: 8px;
        }
      }
      > div.info {
        align-self: flex-end;
        p.popularTag {
          background: linear-gradient(95.62deg, #C72328 -10.07%, #DD2476 100%);
          border-radius: 3px;
          text-transform: uppercase;
          color: #fff;
          max-width: 87px;
          font-weight: 600;
          font-size: 0.875rem;
          text-align: center;
          margin-bottom: 20px;
        }
        p.runningOutTag {
          background: linear-gradient(95.62deg, #C72328 -10.07%, #DD2476 100%);
          border-radius: 3px;
          text-transform: uppercase;
          color: #fff;
          max-width: 109px;
          font-weight: 600;
          font-size: 0.875rem;
          text-align: center;
          margin-bottom: 20px;
        }
        p.eventName {
          font-size: 2rem;
          font-weight: bold;
          line-height: 2rem;
        }
        p.eventDate {
          font-size: 1.125rem;
          font-weight: 500;
          line-height: 1.125rem;
          padding-top: 10px;
        }
        p.eventCity {
          padding-top: 10px;
          font-weight: 500;
          > * {
            vertical-align: middle;
          }
          img {
            height: 24px;
            margin-right: 2px;
            margin-left: -4px;
          }
        }
        * > p.eventCity span {
          font-size: 1rem;
          line-height: 1rem;
        }
      }
    }
    .itemsRight {
      display: flex;
      div:last-child {
        align-self: flex-end;
        display: none;
      }
    }
  }
  div.wishList {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    z-index: 2;
    &:hover {
      img { transform: scale(1.2); transition: .2s ease; }
    }
  }
}

.section.registerCTA {
  margin-top: -11px;
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    height: 228px;
    background: linear-gradient(98.14deg, #023CB1 -10.07%, #1CB7F4 100%);
    border-radius: 10px;
    div:first-child {
      color: #ffffff;
      font-weight: bold;
      font-size: 1.875rem;
      line-height: 46px;
      img { vertical-align: middle; }
    }
    div:last-child {
      .button {
        font-weight: 600;
        color: #1CB7F4;
        text-transform: uppercase;
        border-radius: 8px;
        min-height: 40px;
        border: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1);
        transition: .1s ease;
        vertical-align: middle;
        &:hover {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transform: scale(1.015); 
          transition: .1s ease;
        }
      }
      span.vr {
        border: 0.5px solid #FFFFFF;
        height: 60px;
        display: inline-flex;
        margin-left: 30px;
        margin-right: 30px;
        vertical-align: middle;
      }
      a {
        margin-right: 20px;
        img { 
          vertical-align: middle;
          transform: scale(1);
          transition: .1s ease;
          vertical-align: middle;
          -webkit-filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
          &:hover {
            -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            transform: scale(1.015); 
            transition: .1s ease;
          }
        }
      }
    }
  }
}

.ellipse {
  position: absolute;
  z-index: -1;
  left: 50%;
  margin-top: -200px;
  div {
    position: relative;
    left: -50%;
    min-height: 305px;
    min-width: 1210px;
    overflow: visible;
    opacity: 1;
    background:radial-gradient(ellipse farthest-side at center center, rgba(28, 183, 244, 0.2) 0%, transparent 100%);
    filter: blur(25px);
    transform: scale(1.4);
    opacity: 0.4;
  }
}

.section.filterEvents {
  margin-top: -11px;
  * > .selectCity {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: #ffffff;
    img { vertical-align: middle; }
    img:last-child { display: none; }
  }
  * > .selectFilter {
    display: none;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: #ffffff;
    span { color: #1CB7F4; margin-left: 10px; }
  }
  * > .tempTitle {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: #ffffff;
  }
}

.section.moreEvents {
  margin-top: -11px;
  * > .columns {
    div.column { min-width: 373.33px; flex-basis: auto; }
    &.odd {
      div.column:first-child { min-width: 50%; flex-basis: auto; }
    }
  }
}

.section.sellerCTA {
  margin-top: 24px;
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;
    height: 228px;
    background: linear-gradient(98.14deg, #C72328 -10.07%, #DD2476 100%);
    border-radius: 10px;
    div:first-child {
      color: #ffffff;
      font-weight: bold;
      font-size: 1.875rem;
      line-height: 46px;
      img { vertical-align: middle; }
    }
    div:last-child {
      .button {
        font-weight: 600;
        color: #C72328;
        text-transform: uppercase;
        border-radius: 8px;
        min-height: 40px;
        border: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        transform: scale(1);
        transition: .1s ease;
        vertical-align: middle;
        &:hover {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          transform: scale(1.015); 
          transition: .1s ease;
        }
      }
      a:last-child {
        margin-left: 20px;
        color: #ffffff;
        font-weight: 600;
        text-decoration-line: underline;
        text-transform: uppercase;
      }
    }
  }
}