// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.is-forward-1 {
  margin-right: 8.3333333333%;
}


.column.total {
  padding-top: unset;
}

.offer-title {
  font-weight: 700;
  font-size: 1.15rem;
}

.offer-summary {
  padding-top: 1rem;
  font-weight: 300;
  align-items: center;
}

.offer-start {
  font-size: 0.9rem;
}

.offer-header {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding-bottom: unset;
}

.offer-content {
  padding-bottom: unset;
}

p.total {
  font-weight: 700;
  font-feature-settings: 'ss01' 1;
}


// Form

section.checkout {
  margin-top: 100px;
  > .container {
    padding: 40px 0;
    background: rgba(23, 23, 23, 0.9);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    .title { color: #ffffff; }
    .help { color: rgba(255, 255, 255, 0.75); }
    .card {
      margin-left: auto;
      background: #202020;
      box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
      color: #ffffff;
      hr { background-color: rgba(255, 255, 255, 0.75); height: 1px; margin: 20px 0; }
    }
    hr { background-color: #202020; height: 1px; margin: 40px 0; }
    p { color: #ffffff; }
  }
}

.help.is-inline-block {
  margin-left: 0.5rem;
}

.ticket-label {
  padding-bottom: unset;
}

.ticket-form > .column.is-12:not(:first-child) {
  padding-top: 2rem;
}

.confirm.button {
  font-weight: 600;
  margin-top: 2rem;
  height: 3rem;
  & span {
    vertical-align: middle;
  }
}

.cards-label {
  padding-bottom: 8.400px;
}

.no-top-pad {
  padding-top: unset;
}

.help.checkout {
  position: absolute;
}

.z-10 {
  z-index: 10;
}

.content.errors {
  padding-left: 1.25rem;
}

.unselected {
  transition: .5s ease;
  opacity: 0.3;
}

.cards > .level-item > img {
  transition: .5s ease;
}

.section.checkout form {
  label { color: #ffffff; }
  span { color: rgba(255, 255, 255, 0.75); }
  input.input, select {
    background: #292D34;
    color: #ffffff;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    height: 40px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.25);
    }
    &:focus { background: #3C4046; }
  }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
  }
   
  input[type="number"] {
      -moz-appearance: textfield;
  }
}

.tooltip.is-tooltip-multiline::before {
  max-width: 5rem; 
}

.expiredTime {
  display: none;
  background-color:rgba(23, 23, 23, 0.95);
  background-attachment: fixed;
  background-size: cover;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  padding-top: 2rem;
  font-size: 0.85rem;
  overflow: hidden;
  .column {
    background: rgba(23, 23, 23, 0.9);
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #ffffff;
  }
  .container {
    margin-top: 10rem;
  }
}

.expiredTime.active {
  display: block;
}

// Success

.section.success {
  padding-top: unset;
  margin-top: -3rem;
}

.icon.success {
  font-size: 0.75rem;
  height: unset;
  width: unset;
}

.details {
  font-size: 0.85rem;
  color: hsl(0, 0%, 40%);
}

.success.ticket-owners {
  padding-bottom: unset;
}


// My Orders
tr.trhidden {
  display: block;
  height: 0px;
  & td.tdhidden {
    border: 0px;
    padding: unset;
  }
}
.order.row {
  cursor: pointer;
}
.order.details {
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  box-shadow: 0px 15px 45px -12px rgba(0,0,0,0.75);
}