@media screen and (max-width: 600px) {

  .is-forward-1 {
    margin-right: unset;
  }

  .navbar-link.user {
    color: unset;
  }

  .navbar-item.user {
    color: unset;
  }

  .search > input::placeholder {
    font-size: 1rem;
    bottom: 20%;
  }

  .event.title {
    font-size: 2rem;
  }

  .header.button {
    color: unset;
  }

  #map {
    width: 300px;
    height: 300px;
  }

  .event.title {
    font-style: normal;
    font-weight: 800;
    letter-spacing: unset;
    text-shadow: 1px 4px 7px rgba(0,0,0,0.25);
    margin-top: 1.5rem;
    text-align: center;
  }

  .title.event-content {
    font-size: 1.55rem;
  }

  .events-table {
    overflow-x: auto;
    font-size: 0.75rem;
    margin-left: -0.5rem;
  }

  .is-clipped {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .event.offers {
    opacity: 0;
    transition: all .2s ease;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    padding-top: 2rem;
    font-size: 0.85rem;
    overflow-y: scroll;
    & .card-footer {
      display: flex;
      align-self: flex-end;
      justify-content: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding-top: 1rem;
      border-top: unset;
    }
  }

  .event.offers.op-1 {
    visibility: visible;
    opacity: 1;
  }

  .mb-footer {
    margin-bottom: 850px;
  }

  .height-footer {
    height: 350px;
    margin-bottom: 500px;
  }

  .section.description {
    padding-top: 6rem;
  }

  .ordered-mobile {
    display: flex;
    flex-flow: column;
  }
  .ordered-mobile .fl-1 {
    order: 1;
  }
  .ordered-mobile .fl-2 {
    order: 2;
  }
  .ordered-mobile .fl-3 {
    order: 3;
  }
  .ordered-mobile .fl-4 {
    order: 4;
  }

  .order.details table {
    font-size: 0.65rem;
  }

  .table.orders {
    font-size: 0.65rem;
  }

  .tooltip.is-tooltip-multiline.owner-name::before {
    min-width: 14rem !important;
    left: 1rem;
  }

  .tooltip.is-tooltip-multiline.owner-email::before {
    min-width: 14rem !important;
    left: 4rem;
  }
}