<%= javascript_pack_tag "offers" %>
<%= stylesheet_pack_tag "offers" %>
<section class="section hero">
  <div class="container hero-content">
  </div>
</section>

<section class="section offers">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-3">
        <%= render "producer_admin/events/menu" %>
      </div>
      <div class="column is-8">
        <%= render "index" %>
      </div>
    </div>
	</div>
</section>