// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offer-filter {
  margin-top: auto;
}

.input.admin-orders {
  height: unset;
  padding: unset;
  border: 0;
  font-size: 0.85rem;
}

.icon.admin-orders:hover {
  color: $primary;
  cursor: pointer;
}

tr.admin-orders {
  white-space: nowrap;
}