// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Producer admin index

.clickable-row {
  cursor: pointer;
}

.table.table-events td {
  line-height: 1.846;
  padding: 0.83em;
}

// Create and edit view

.prototype-row {
	display: none;
}

.hidden-fields {
	display: none;
}

// Show view

.section.hero-event {
  background-size: cover;
  min-height: 17rem;
  width: 100%;
  background-position: center 40%;
  border-bottom-left-radius: 0% 0%;
  border-bottom-right-radius: 0% 0%;
}

.hero-content-event {
  padding-top: 7rem;
}

.event.header {
  padding-bottom: 1rem;
}

.event.title {
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 0.04rem;
  text-shadow: 1px 4px 7px rgba(0,0,0,0.25);
}

.column.event.title {
  padding-bottom: 0.5rem;
}

.event.table {
  font-weight: 300;
  font-size: 1.1rem;
  margin-bottom: -6.5rem;
  width: 20rem;
}

svg.fa-play:hover {
  -webkit-filter: drop-shadow(5px 5px 15px rgba(255,255,255,0.45));
  filter: drop-shadow(5px 5px 15px rgba(255,255,255,0.45));
}

.event.video {
  box-shadow:0px 10px 25px 0px rgba(0,0,0,0.45);
}

#infobar {
  height: 3.75rem;
  margin-left:-1.5rem;
  margin-right:-1.5rem;
  margin-bottom: -3rem;
  margin-top: 0.4rem;
}

.fa-circle.fa-stack-2x {
  opacity: 0.1;
  color: white;
}

.level-item > .info {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

.level-item.spacer {
  margin-left: 2rem;
}

// Video Modal

.video-background {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23e5e5e5'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23c9c9c9' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23c9c9c9' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23c9c9c9' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23c9c9c9' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.98;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.img-raised {
  box-shadow: 0px 5px 35px 1px rgba(0, 0, 0, 0.5);
}

.modal-content.back {
  margin-bottom: 2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  & p {
    display: flex;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  display: block;
  content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

// Description page

@-webkit-keyframes spinAround{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes spinAround{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.carousel{position:relative;overflow:hidden}.carousel .carousel-container{width:100%;position:relative;border:none;display:flex;margin:0;padding:0;left:-100%;-webkit-transform:translateX(100%);transform:translateX(100%)}.carousel .carousel-container .carousel-item{display:block;position:relative;flex:1 0 100%}.carousel .carousel-container .carousel-item.has-background .is-background{-o-object-fit:cover;object-fit:cover;-o-object-position:center center;object-position:center center;height:100%;width:100%}.carousel .carousel-container .carousel-item .title{position:absolute;left:0;right:0;bottom:0;padding:1.5em;margin:0;text-align:center;background:rgba(255,255,255,.6);font-size:.75rem}.carousel .carousel-navigation{display:flex;justify-content:space-around;width:100%;pointer-events:none}.carousel .carousel-navigation .carousel-nav-left,.carousel .carousel-navigation .carousel-nav-right{padding:1em;pointer-events:auto}.carousel .carousel-navigation.is-centered{justify-content:center}.carousel .carousel-navigation.is-overlay{top:50%;-webkit-transform:perspective(1px) translateY(-50%);transform:perspective(1px) translateY(-50%);bottom:auto;left:auto;right:auto;align-items:center;justify-content:space-between;z-index:99}.carousel .carousel-navigation.is-overlay .carousel-nav-left,.carousel .carousel-navigation.is-overlay .carousel-nav-right{height:2.2em;width:2em;background:rgba(255,255,255,.7);display:flex;justify-content:center;align-items:center;color:#4a4a4a;position:absolute;left:0}.carousel .carousel-navigation.is-overlay .carousel-nav-left:hover,.carousel .carousel-navigation.is-overlay .carousel-nav-right:hover{cursor:pointer}.carousel .carousel-navigation.is-overlay .carousel-nav-right{left:auto;right:0}.carousel.is-reversing .carousel-container{-webkit-transform:translateX(-100%);transform:translateX(-100%)}.carousel[data-size]:not(.carousel-animate-fade) .carousel-container .carousel-item{padding:1em}.hero.has-carousel{position:relative}.hero.has-carousel+.hero-body,.hero.has-carousel+.hero-footer,.hero.has-carousel+.hero-head{z-index:1}.hero.has-carousel .hero-carousel{display:flex;position:absolute;top:0;left:0;bottom:0;right:0;height:auto;border:none;margin:auto;padding:0;z-index:0}.hero.has-carousel .hero-carousel .carousel-container{height:auto!important}.hero-carousel{position:relative;overflow:hidden}.hero-carousel .carousel-container{width:100%;position:relative;border:none;display:flex;margin:0;padding:0;left:-100%;-webkit-transform:translateX(100%);transform:translateX(100%)}.hero-carousel .carousel-container .carousel-item{display:block;position:relative;flex:1 0 100%}.hero-carousel .carousel-container .carousel-item.has-background .is-background{-o-object-fit:cover;object-fit:cover;-o-object-position:center center;object-position:center center;height:100%;width:100%}.hero-carousel .carousel-container .carousel-item .title{position:absolute;left:0;right:0;bottom:0;padding:1.5em;margin:0;text-align:center;background:rgba(255,255,255,.6);font-size:.75rem}.hero-carousel .carousel-navigation{display:flex;justify-content:space-around;width:100%;pointer-events:none}.hero-carousel .carousel-navigation .carousel-nav-left,.hero-carousel .carousel-navigation .carousel-nav-right{padding:1em;pointer-events:auto}.hero-carousel .carousel-navigation.is-centered{justify-content:center}.hero-carousel .carousel-navigation.is-overlay{top:50%;-webkit-transform:perspective(1px) translateY(-50%);transform:perspective(1px) translateY(-50%);bottom:auto;left:auto;right:auto;align-items:center;justify-content:space-between;z-index:99}.hero-carousel .carousel-navigation.is-overlay .carousel-nav-left,.hero-carousel .carousel-navigation.is-overlay .carousel-nav-right{height:2.2em;width:2em;background:rgba(255,255,255,.7);display:flex;justify-content:center;align-items:center;color:#4a4a4a;position:absolute;left:0}.hero-carousel .carousel-navigation.is-overlay .carousel-nav-left:hover,.hero-carousel .carousel-navigation.is-overlay .carousel-nav-right:hover{cursor:pointer}.hero-carousel .carousel-navigation.is-overlay .carousel-nav-right{left:auto;right:0}.hero-carousel.is-reversing .carousel-container{-webkit-transform:translateX(-100%);transform:translateX(-100%)}.carousel.carousel-animate-slide.carousel-animated .carousel-container,.hero-carousel.carousel-animate-slide.carousel-animated .carousel-container{-webkit-transform:none!important;transform:none!important;transition:-webkit-transform .5s ease-in-out;transition:transform .5s ease-in-out;transition:transform .5s ease-in-out,-webkit-transform .5s ease-in-out}.carousel.carousel-animate-fade .carousel-item,.hero-carousel.carousel-animate-fade .carousel-item{position:absolute;width:100%;height:100%;transition:opacity .5s ease-in-out}.carousel.carousel-animate-fade .carousel-item.is-active,.hero-carousel.carousel-animate-fade .carousel-item.is-active{opacity:1}.carousel.carousel-animate-fade .carousel-item:not(.is-active),.hero-carousel.carousel-animate-fade .carousel-item:not(.is-active){opacity:0}


.columns.description div {
  padding-top: unset;
  padding-bottom: unset;
  line-height: 1.375em;
}


.title.event-content {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

img.testimonial {
  box-shadow: -1px 4px 35px -12px rgba(0,0,0,0.40);
}

.features {
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.375em;
}

#map {
  & iframe {
    height: 300px;
  }
  width: 500px;
  height: 300px;
  box-shadow:0px 5px 20px 0px rgba(0,0,0,0.15);
  margin-bottom: 0.5rem;
}


// Offers

.event.offers {
  position: -webkit-sticky; // Safari
  position: sticky;
  top: 1rem;
  margin-top: -1rem;
  font-size: 0.85rem;
  box-shadow: -1px 4px 35px -12px rgba(0,0,0,0.40);
  & .card-footer {
    display: none;
  }
}

.tickets.title {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.button.minus, .button.plus {
  border-radius: 5rem;
  padding: 0.6rem;
  & :hover {
    color: #DB3F4B;
  }
}

.offer-info {
  padding-top: 0.3rem;
  padding-bottom: unset;
  margin-top: -1rem;
  margin-bottom: 1rem;
  color: hsl(0, 0%, 48%);
  & a {
    text-transform: uppercase;
    font-size: 0.58rem;
    font-weight: 700;
    color:unset;
  }
}

.offer-info-content {
  & a {
    margin-bottom: 0.3rem;
  }
  & div {
    border-radius: 0.6rem;
    padding: 0.6rem;
  }
}

.toggle > svg {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  margin-left: 0.3rem;
}

.dismiss > svg {
  font-size: 1rem;
  margin-bottom: -0.2rem;
  margin-left: 0.3rem;
}


// Offers Mobile

.section.mobBtn {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding: unset;
  & .container {
    background: white;
    padding: 1.5rem;
    border-top: 1px solid hsl(0, 0%, 86%);
  }
  & .button {
    font-weight: 700;
  }
}


// FAQ

.section.faq {
  background: hsl(0, 0%, 96%);
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: -5rem;
  & .card {
    margin-bottom: 1rem;
  }
  & .card-header-title {
    color: unset;
  }
}

header.card-header {
  cursor: pointer;
}

.card-header:hover {
  color: #DB3F4B;
}
