<footer class="default clear">
  <div class="container">
    <hr />
    <div class="footerWrapper">
      <div class="logowrapper">
        <%= image_tag asset_pack_path("media/assets/images/icone-light.svg"), alt:'PartiuIngresso.com', width:'23,56' %>
      </div>
      <div class="copyright">
        PartiuIngresso.com 2019 ©<br />
        CR Comunicação e Tecnologia LTDA
      </div>
    </div>
  </div>
</footer>