<footer class="footer-clear">
  <div class="container">

    <hr />

    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <%= image_tag(asset_pack_path("media/application/images/icone.svg"), alt:'PartiuIngresso.com', width:'40', class:'logo') %>
        </div>
        <div class="level-item">
          <p class="copyright">© PartiuIngresso.com</p>
        </div>
      </div>

      <div class="level-right">
        <div class="level-item">
          <p class="cnpj">
            CR COMUNICAÇÃO E TECNOLOGIA LTDA<br />
            31.419.883/0001-00
          </p>
        </div>
      </div>
    </div>

  </div>

</footer>