<footer class="footer">
  <hr />
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-3">
        <strong>PartiuIngresso</strong>
        <ul>
          <li>Ajuda</li>
          <li>Políticas de Uso</li>
          <li>Política de Privacidade</li>
        </ul>
      </div>
      <div class="column is-3">
        <strong>Mais Informações</strong>
        <ul>
          <li>Confirança e Segurança</li>
          <li>Eventos em Destaque</li>
          <li>Depoimentos</li>
        </ul>
      </div>
      <div class="column is-3">
        <strong>Organizadores</strong>
        <ul>
          <li>Publicar Evento</li>
          <li>Segurança</li>
          <li>Mais Ajuda</li>
        </ul>
      </div>
      <div class="column is-2">
        <span class="icon is-medium"><i class="fab fa-lg fa-facebook-f"></i></span>
        <span class="icon is-medium"><i class="fab fa-lg fa-twitter"></i></span>
        <span class="icon is-medium"><i class="fab fa-lg fa-instagram"></i></span>
        <ul>
          <li>
            <%= image_tag 'seguro.png', alt:'Site Seguro', class: 'seguro' %>
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <%= image_tag 'logo.svg', alt:'PartiuIngresso.com', width:'160', class:'logo' %>
        </div>
      </div>

      <div class="level-right">
        <div class="level-item">
          <p class="cnpj">
            CR COMUNICAÇÃO E TECNOLOGIA<br />
            31.419.883/0001-00
          </p>
        </div>
      </div>
    </div>

  </div>

</footer>