<header class="partiu-header">
  <nav class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to image_tag('logo-light.svg', alt:'PartiuIngresso.com', width:'130', class:'logo'), root_path, class: "navbar-item" %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Cadastrar</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>