<header class="section header_clean">
  <nav class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to image_tag(asset_pack_path("media/application/images/logo.svg"), alt:'PartiuIngresso.com', width:'140', class:'logo'), root_path, class: "navbar-item" %>
      <span class="tag is-dark is-normal">Beta</span>
    </div>
  </nav>
</header>