<aside class="menu">
  <p class="menu-label">
    Minha Conta
  </p>
  <ul class="menu-list">
    <li><%= link_to_in_li "Perfil", edit_user_registration_path %></li>
    <li><%= link_to_in_li "Pedidos", orders_path %></li>
    <li><%= link_to_in_li "Meus Ingressos", tickets_path %></li>
  </ul>
</aside>